.iphone_screen {
    position: relative;
    top: 200px;
    
    float: right;
    color: #fff;

    float: none;

    width: 1170px;
    height: 2532px;
    box-sizing: border-box;
    background-image: url("../images/balance/main.jpeg");
    background-position: center;
}