


.iphone_screen {
    position: relative;
    top: 200px;
    
    float: right;
    color: #fff;

    float: none;

    width: 1170px;
    height: 2532px;
    box-sizing: border-box;
    background-image: url("../images/balance/balance.png");
    background-position: center;
}

.balance_page > span {
    position: absolute;
}


.total_usd {
    top: 435px;
    font-size: 90px;
    color: red;
    left: 100px;
    letter-spacing: 3px;
}
.total_btc {
    top: 545px;
    left: 100px;
    font-size: 40px;
    color: blue;
}

.funding, .trading, .derivatives {
    font-size: 55px;
    left: 100px;

}
.funding {
    color: green;
    top: 1600px;
}
.trading {
    color: yellow;
    top: 1800px;
}
.derivatives {
    top: 2100px;
}