


.iphone_screen {
    position: relative;
    top: 200px;
    
    float: right;
    color: #fff;

    float: none;

    width: 1170px;
    height: 2532px;
    box-sizing: border-box;
    background-image: url("../images/balance/balance.png");
    background-position: center;
}

.balance_page > span {
    position: absolute;
}


.total_usd {
    top: 435px;
    color: red;
    left: 100px;
    letter-spacing: 3px;
}
.total_usd > span:nth-child(1) {
    font-size: 85px;
}
.total_usd > span:nth-child(2) {
    font-size: 38px;
    padding-left: 10px;
}
.total_btc {
    top: 545px;
    left: 98px;
    font-size: 38px;
    color: blue;
}

.funding, .trading, .derivatives {
    left: 100px;
    color: red;
}
.funding>span:nth-child(1), .trading>span:nth-child(1), .derivatives>span:nth-child(1) {
    font-size: 48px;
    font-weight: 500;
}
.funding>span:nth-child(2), .trading>span:nth-child(2), .derivatives>span:nth-child(2) {
    padding-left: 10px;
    font-size: 33px;
}
.funding {
    top: 1700px;
}
.trading {
    top: 1915px;
}
.derivatives {
    top: 2135px;
}