@import url("main.css");

body {
    overflow: hidden;
}

/* параметры экрана компьютера */
.desktop_screen {
    position: relative;
    top: 150vh;
    float: none;
    width: 1500px;
    height: 1000px;
    box-sizing: border-box;
    background-position: center;
    color: #fff;
    background-image: url("../images/bot/dashboard-test.png");
    font-family: "Ubuntu", sans-serif;
}


.generate_id_btn {
    padding: 2px 5px;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 2px 0 0 10px;
}
.generate_id_btn:hover {
    background-color: #fff;
    color: #000;
}

.form_table {
    color: #fff;
    margin-bottom: 10px;
}
.form_table th {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.form_table tr td:nth-child(1), .form_table tr td:nth-child(4){
    border-right: 1px solid #fff;
    padding-right: 5px;
}
.form_table button {
    padding: 2px 5px;
    border: 1px solid orange;
    border-radius: 5px;
}
.form_table button:hover {
    background-color: #fff;
    color: #000;
}


.bot_form_input {
    width: 50px;
} 

[name = "selected_id"] {
    width: 70px;
} 

[name = "balance"], [name="available"] {
    width: 70px;
}





.selected_id, .period, .balance, .available, .withdraw_date, .total_profit, .table {
    position: absolute;
    color: #fff;
    font-weight: 700;
}
.selected_id {
    top: 308px;
    left: 417px;
    font-size: 30px;
    color: #000;
}
.table {
    top: 370px;
    left: 805px;
    font-size: 28px;
}
table tr td {
    padding-bottom: 18px;
}
/* Даты */
.table tr > td:nth-child(1) {
    width: 90px;
    color: #fff;
    font-weight: 200;
    font-style: italic;
}
/* Трейды  */
.table tr > td:nth-child(2) {
    padding-right: 30px;
    color: #C08AFF;
    font-weight: 700;
}
/* Надпись "TOTAL" */
.table tr > td:nth-child(3) {
    padding-right: 5px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
}
/* Проценты */
.table tr > td:nth-child(4) {
    padding-right: 25px;
    color: #C08AFF;
    font-weight: 700;
}
/* Профиты */
.table tr > td:nth-child(5) {
    text-align: right;
    color: #00FFE3;
    font-weight: 700;
    font-style: italic;

}
.period {
    top: 250px;
    left: 1020px;
    font-size: 40px;
}
.balance, .available, .withdraw_date {
    font-size: 30px;
}
.balance {
    top: 535px;
    left: 380px;
}
.available {
    top: 535px;
    left: 563px;
}
.withdraw_date {
    top: 675px;
    left: 380px;
}
.total_profit {
    top: 775px;
    left: 945px;
    font-size: 60px;
    font-style: italic;
    color: #00FFE3;
}