/* Общие параметры */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    /*background-color: #151515;*/
    background-color: #E3E4EB;
    font-style: normal;
}
a { 
  text-decoration: none;
}

h1 {
    font-family: Arial;
}
input, select {
    all: unset;
    margin-left: 0px;
    /*background-color: #1A1D1C;*/
    font-size: 18px;
    color: 46D7B0;
}
select {
    padding: 0 7px 0 5px;
    float: left;
    height: 25px;
    line-height: 29px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
input {
    height: 25px;
    line-height: 25px;
    float: left;
}
input::placeholder {
    color: gray;
}
button {
    all: unset;
}




/* Главный центрирующийся контейнер */
.container {
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;
    padding: 50px;
    margin: 0 auto; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    /*background-color: #1A1D1C;*/
    background: linear-gradient(135deg, #32343D, #242627);
    /*box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);*/
    box-shadow: 5px 5px 10px #b9bbc4,
              -5px -5px 12px #fff;
    border-radius: 10px;
}

/* Главное меню */
.menu {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 200px;
    padding-right: 50px;
    font-family: Arial;
}
.menu_btn {
    width: 100%;
    padding: 15px 0;
    /*border: 1px solid #262626;*/
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition: box-shadow 0.5s ease;
    box-shadow: 5px 5px 10px #1A1C20,
              -5px -5px 12px #33373C;
    background: linear-gradient(-45deg, #32343D, #242627);
    letter-spacing: 0.5px;
    
}
.menu_btn:not(:last-child) {
    margin-bottom: 20px;
}
.menu_btn:hover {
    box-shadow: inset -4px -4px 10px #33373C,
              inset 4px 2px 12px #1A1C20;  
}
.menu_btn.current {
    /*background-color: #BBFF00;*/
    /*color: #262626;*/
    /*border-color: #BBFF00;*/
    box-shadow: inset -4px -4px 10px #33373C,
              inset 4px 2px 12px #1A1C20;  
}


/* Форма ввода значений */
.form_box {
    width: 700px;
    float: right;
    font-family: "Roboto", sans-serif;
}
.form {
    display: flex;
    width: 100%;
    margin-block-end: 0;
}
.form_left {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 50px;
    width: 60%;
    border-left: 3px solid #fff;
}
.form_right {
    float: right;
    width: 40%;
    border-left: 3px solid #fff;
}
.form_left > div:not(:last-child) {
    margin-bottom: 15px;
}
.form_left > div > label {
    /*color: #BCFF00;*/
    color: #fff;
}
.form_left > div > label:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    float: left;
    padding-right: 10px;
}
.form_left > div > label:nth-child(3) {
    font-size: 18px;
    font-weight: 300;
    height: 29px;
    line-height: 30px;
    float: left;
}
.form_buttons {
    display: flex;
    flex-direction: column;    
    padding-left: 50px;
}


/* Две кнопки справа от полей ввода */
.calculation_btn, .get_ss_btn, .clear_form_btn {
    display: block;
    width: 100%;
    padding: 0;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1A1C20,
              -5px -5px 12px #33373C;
}
.calculation_btn:hover, .get_ss_btn:hover, .clear_form_btn:hover {
    border: 2px solid #fff;
}
.get_ss_btn {
    border: 2px solid #46D7B0;
    background: linear-gradient(-45deg, #4EEEBC, #37AF8E);
    color: #000;
}
.calculation_btn, .clear_form_btn {
    margin-top: 20px;
    border: 2px solid #000;
    background: linear-gradient(-45deg, #32343D, #242627);
    color: #fff;
}
.calculation_btn:hover, .clear_form_btn:hover {
    box-shadow: inset -4px -4px 10px #33373C,
              inset 4px 2px 12px #1A1C20;  
}


/* Блок для вывода предварительных расчетов */
.calculation_results {
    width: 100%;
    padding-left: 50px;
    color: #fff;
}

.calculation_results > span {
    display: block;
    font-weight: 700;
}


/* Полоса-разделитель в форме */
.form_separator {
    width: 100%;
    height: 3px;
    margin: 50px 0;
    background-color: #fff;
}


/* Визуальный разделитель между формой и блоком формирования скрина */
.technical_section {
    width: 100%;
    margin-top: 100px;
    background-color: orange;
    color: white;
    text-align: center;
}


/* Кнопка ввода текущего времени в поле ввода формы */
.set_current_time_btn {
    float: left;
    padding: 0 7px 0 5px;
    font-size: 17px;
    color: #000;
    font-weight: 400;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
}
.set_current_time_btn:hover {
    border-color: #BBFF00;
    color: #BBFF00;
}


/* Визуальная настройка длины полей ввода в форме */
[name = "time"] {
    width: 60px;
}
[name = "coin"] {
    width: 85px;
}
[name = "leverage"] {
    width: 30px;
}
[name="entry_price"], [name="margin"], [name="liq_price"], [name="take_profit"], [name="exit_price"] {
    width: 150px;
}
[name = "funding"], [name = "trading"], [name = "derivatives"] {
    width: 90px;
}


/* параметры экрана айфона */
.iphone_screen {
    position: relative;
    top: 150vh;
    float: none;
    width: 1170px;
    height: 2532px;
    box-sizing: border-box;
    background-position: center;
    color: #fff;
}
.iphone_time {
    position: absolute;
    flex-direction: column;
    top: 47px;
    left: 126px;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    font-weight: 500;
}
.iphone_icons {
    position: absolute;
    top: 52px;
    right: 70px;
    width: 250px;
    height: 47px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/icons/50.png);
    background-size: contain;
}
