body {
    font-style: normal;
    /*background-color: #0D0D0D;*/
    background-color: #121220;
    margin: 0;
    padding: 0;
}

a { 
  text-decoration: none;
}

h1 {
    font-family: Arial;
}

label {
    font-size: 20px;
}

input, select {
    all: unset;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    font-size: 20px;
    background-color: #161616;
    border-bottom: 1px solid rgb(167, 167, 167);
    color: #fff;
}
button {
    all: unset;
}


.header {
    height: 70px;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header_btn {
    font-size: 16px;
    color: #ffffff;
    padding: 7px 25px 7px 25px;
    font-weight: 500;
    border-radius: 0.75rem;
    background-color: rgba(38,38,38,.48);
}
.header_btn:nth-child(2) {
    margin: 0 15px 0 15px;
}
.header_btn.current {
    background-color: #ffffff;
    color: #000;
}

.container {
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
    height: 100vh;
}

.menu_item {
    color: white;
    display: block;
}

.form {
    flex-direction: column;
    width: 100%;
}

.form > div {
    margin-bottom: 18px;
}

.form > div > label:nth-child(1) {
    font-weight: 500;
}

.form_box {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
    /*background-color: #F5F5F6;*/
    /*background-color: #161616;*/
    /*border-radius: 1.5rem;*/
    flex-direction: column;
    font-family: Arial;

    background-color: #F0EDF2;
    color: #000000;
    
    display: flex;
    align-items: center;
}



.calculation_btn, .get_ss_btn {
    display: block;
    width: calc(50% - 5px);
    background-color: rgba(38,38,38,.48);
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}
.calculation_btn:hover, .get_ss_btn:hover, .set_current_time_btn:hover {
    background-color: #292929;
}


.form_separator {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 15px;
}

.calculation_btn {
    float: right;
    margin-left: 5px;
}

.calculation_results {
    width: 100%;
    color: #fff;
}

.calculation_results > span {
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

.enter_data_btn {
    background-color: orange;
}

.get_ss_btn {
   
    float: left;
    margin-right: 5px;
}


.technical_section {
    background-color: red;
    width: 100%;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.set_current_time_btn {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #1D1D1D;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 10px;

    font-weight: 500;
}


[name = "time"] {
    width: 60px;
}

[name = "coin"] {
    width: 85px;
}

[name = "leverage"] {
    width: 30px;
}






.iphone_time {
    position: absolute;
    top: 48px;
    left: 127px;
    
    font-family: "Inter", sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    font-weight: 500;
}

.iphone_icons {
    position: absolute;
    top: 50px;
    right: 70px;
    
    width: 250px;
    height: 47px;
    
    background-position: center;
    
    background-repeat: no-repeat;
    
    background-image: url(../images/icons/50.png);
    background-size: contain;
}
