

button {
    background-color: #fff;
    color: #000;
}
input {
    font-size: 25px;
}

.container {
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
}

h1 { 
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu_item {
    color: white;
    display: block;
}

.form_box {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F5F5F6;
    border-radius: 15px;
    flex-direction: column;
    font-family: Arial;
}

select {
    height: 35px;
}
option {
    font-weight: 40px;
    
}

.enter_data_btn {
    background-color: orange;
}

.get_ss_btn {
    display: block;
    background-color: #0777ED;
    color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    border: 3px #F5F5F6 solid;
}
.get_ss_btn:hover {
    border-color: #0777ED;
    animation-duration: 3;
}

.pnl {
    width: 960px;
    height: 1320px;
    margin-top: 300px;
    box-sizing: border-box;
    background-image: url("../images/pnl/work/roi2.png");
    background-position: center;
}
   
.pnl_content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 230px;
    box-sizing: border-box;

}

.pnl_content > span {
    width: 100%;
    text-align: left;
    display: block;
}

.pnl_header {
    height: 34px;
    display: flex; 
    align-items: flex-start;
}


.coin_name {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}

.laverage {
    display: inline-block;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
    margin-left: 22px;
    color: #52B189;
    background-color: #21322C;
    font-size: 25px;
    line-height: 50px;
    font-family: "IBM Plex Sans", sans-serif;
    

}

.roipnl {
    margin-top: 113px;
    font-size: 90px;
    color: #14B56F;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
}

.entry_price, .exit_price {
    font-size: 41px;
    color: #ffffff;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.entry_price {
    margin-top: 89px;
}

.exit_price {
    margin-top: 68px;
}



.form {
    flex-direction: column;
}

.form > div {
    margin-bottom: 22px;
}



.position_size {
    color: #DC5350;;
}

.liq_price {
    color: orange;
}



@media only screen and (max-width: 480px) {
    .container {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    body {
        background-color: red;
    }
}












