body {
    font-style: normal;
    background-color: #10121E;
    color: #1D1D20;
    margin: 0;
    padding: 0;
}

a { 
  text-decoration: none;
}

h1 {
    font-family: Arial;
}

label {
    font-size: 20px;
}

input, select {
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #000;
    
}


.header {
    height: 60px;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header_btn {
    font-size: 18px;
    color: #DEB992;
    padding: 5px 10px 5px 10px;
    border: 2px solid #DEB992;
    font-weight: 500;
}
.header_btn.current {
    background-color: #DEB992;
    color: #000;
}

.container {
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
    height: 100vh;
}

.menu_item {
    color: white;
    display: block;
}

.form {
    flex-direction: column;
    width: 100%;
    color: #fff;
}

.form > div {
    margin-bottom: 18px;
}

.form > div > label:nth-child(1) {
    font-weight: 600;
}

.form_box {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
    /*background-color: #F5F5F6;*/
    background-color: #3E33CE;
    border-radius: 0px;
    flex-direction: column;
    font-family: Arial;
    
    display: flex;
    align-items: center;
}

.form_separator {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 15px;
}

.calculation_btn {
    border-radius: 10px;
    width: calc(50% - 5px);
    border: 2px solid #0777ED;
    color: #0777ED;
    font-size: 16px;
    float: right;
    margin-left: 5px;
    
    height: 45px;
    line-height: 40px;
    padding: 0;
}

.calculation_results {
    width: 100%;
    color: #fff;
}

.calculation_results > span {
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

.enter_data_btn {
    background-color: orange;
}

.get_ss_btn {
    display: block;
    background-color: #FF7376;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    text-align: center;
    width: calc(50% - 5px);
    float: left;
    font-size: 16px;
    margin-right: 5px;
}
.get_ss_btn:hover {
}

.technical_section {
    background-color: red;
    width: 100%;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.set_current_time_btn {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #0777ED;
    font-size: 14px;
}
.set_current_time_btn:hover {
    background-color: #0777ED;
    color: #fff;
}


[name = "time"] {
    width: 60px;
}

[name = "coin"] {
    width: 85px;
}

[name = "leverage"] {
    width: 30px;
}






.iphone_time {
    position: absolute;
    top: 48px;
    left: 127px;
    
    font-family: "Inter", sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    font-weight: 500;
}

.iphone_icons {
    position: absolute;
    top: 50px;
    right: 70px;
    
    width: 250px;
    height: 47px;
    
    background-position: center;
    
    background-repeat: no-repeat;
    
    background-image: url(../images/icons/50.png);
    background-size: contain;
}
