

button {
    background-color: #fff;
    color: #000;
}

.menu_item {
    color: white;
    display: block;
}

.form_box, .iphone_screen {
    flex-direction: column;
}


.enter_data_btn {
    background-color: orange;
}


.iphone_screen {
    position: relative;
    top: 200px;
    
    float: right;
    color: #fff;

    float: none;

    width: 828px;
    height: 1792px;
    box-sizing: border-box;
    background-image: url("../images/position/test-main.png");
    background-position: center;
}

.top_bar {
}
.iphone_time {
    position: absolute;
    top: 32px;
    
    left: 64px;
    font-family: Arial;
    
    font-size: 32px;
    letter-spacing: 1px;
}

.position {
    height: 925px;
    width: 100%;
    color: #fff;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 66px;
    box-sizing: border-box;
}

.coin_name {
    position: absolute;
    top: 502px;
    left: 64px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;

}

.coin_name, .longshort, .laverage {
    font-family: "IBM Plex Sans", sans-serif;
}

.longshort {
    position: absolute;
    top: 504px;
    left: 215px;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 7px;
    background-color: #331E22;
    color: #A4363A;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.laverage {
    position: absolute;
    top: 505px;
    left: 290px;
    
    border-radius: 10px;

    padding-left: 12px;
    padding-right: 12px;
    background-color: #2A241B;
    color: #F7A619;
    font-size: 20px;
    line-height: 34px;

    font-weight:600;
    
    letter-spacing: 0.1px;
    
    
}

.position_body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.position_body > span {
    position: absolute;
    right: 65px;
    width: 100%;
    text-align: right;
    font-size: 23px;
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 0.5px;
}

.position_size {
    color: #DC5350;
    top: 595px;
}

.entry_price {
    top: 650px;
}
.mark_price {
    top: 707px;
}
.liq_price {
    top: 764px;
    color: #F1A946;
}
.value {
    top: 820px;
}
.unr_pnl {
    top: 877px;
    color: #CD5C61;
}
.unr_pnl_rounded {
    top: 908px;
    color: #CD5C61;
}
.r_pnl {
    top: 965px;
    color: #CD5C61;
}
.r_pnl_rounded {
    top: 997px;
    color: #CD5C61;
}
.margin {
    top: 1134px;
}


.tpsl {
    letter-spacing: 1px;
    padding-right: 35px;
    box-sizing: border-box;
}
.tp {
    color: green;
}
.sl {
    color: red;
}















