

button {
    background-color: #fff;
    color: #000;
}
input {
    font-size: 25px;
}

.menu_item {
    color: white;
    display: block;
}

.form_box, .iphone_screen {
    flex-direction: column;
}


.enter_data_btn {
    background-color: orange;
}


.iphone_screen {
    position: relative;
    
    float: right;
    color: #fff;

    float: right;

    width: 828px;
    height: 978px;
    box-sizing: border-box;
    background-image: url("../images/position/test1.jpeg");
    background-position: center;
}

.top_bar {
    height: 65px;
    padding-top: 32px;
    padding-left: 20px;
}
.iphone_time {
    font-size: 30px;
    margin-left: 45px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.position {
    height: 925px;
    width: 100%;
    color: #fff;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 66px;
    box-sizing: border-box;
}

.coin_name {
    position: absolute;
    top: 47px;
    left: 65px;
    font-size: 30px;
    font-weight: 600;
}

.coin_name, .longshort, .laverage {
    font-family: "IBM Plex Sans", sans-serif;
}

.longshort {
    position: absolute;
    top: 50px;
    left: 215px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: blue;
    font-size: 21px;
    line-height: 34px;
}

.laverage {
    position: absolute;
    top: 50px;
    left: 285px;
    
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;
    background-color: #2A241B;
    color: #F7A619;
    font-size: 20px;
    line-height: 34px;

    font-weight: 500;
}

.position_body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.position_body > span {
    position: absolute;
    right: 65px;
    width: 100%;
    text-align: right;
    font-size: 25px;
    font-family: "IBM Plex Sans", sans-serif;
}

.position_size {
    color: #DC5350;
    top: 139px;
}

.entry_price {
    top: 195px;
}
.mark_price {
    top: 251px;
}
.liq_price {
    top: 308px;
    color: orange;
}
.value {
    top: 365px;
}
.unr_pnl {
    top: 420px;
    color: green;
}
.unr_pnl_rounded {
    top: 453px;
}
.r_pnl {
    top: 508px;
}
.r_pnl_rounded {
    top: 540px;
}
.margin {
    top: 678px;
}


.tpsl {
    letter-spacing: 1px;
    padding-right: 35px;
    box-sizing: border-box;
}
.tp {
    color: green;
}
.sl {
    color: red;
}















